<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>改良ベイビーステップ</title>
        <style>body {padding: 30px;}</style>
    </head>
    <body>
        <h1>LV0　卵かけご飯レベルの簡単さ</h1>
    </body>
</html>
