<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>改良ベイビーステップ</title>
        <style>body {padding: 30px;}</style>
        <link rel="stylesheet" href="/public/style.css">
        h1{
          color:　red;
        }
    </head>
    <body>
        <h1>LV0　卵かけご飯レベルの簡単さ</h1>
        <img src="images/tkg01.jpg" width=”250″ height=”166″ alt=”リス” />
    </body>
</html>
