<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>寄り添っておきたい言葉</title>
        <style>body {padding: 30px;}</style>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
      h1{
        color: #FFF;}
        <h1>寄り添っておきたい言葉</h1>
        <ul>
          <li>文1</li>
          <li>文2</li>
          <li>文3</li>
        </ul>
        <p><a href="/top">トップページへ</a></p>
    </body>
</html>
