<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>レベル1</title>
        <style>body {padding: 30px;}</style>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
      h1{
        color: #FFF;}
        <h1>LV1　卵かけごはん、もう一杯♪2つ改良</h1>
        <p><a href="/top">トップページへ</a></p>
    </body>
</html>
