<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>レベル0</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <h1>LV0　卵かけご飯レベルの簡単さ２つ改良</h1>
        <p><a href="/tkg01">よし、次に進もう</a></p>
        <img src="images/tkg01.jpg" width=”250″ height=”166″ alt=”リス” />
    </body>
</html>
