<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>レベル0</title>
        <style>body {padding: 30px;}</style>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
      h1{
        color: #FFF;}
        <h1>Hello World</h1>

        <p>プログラミングの世界へようこそ</p>
        <p><a href="/tkg01">よし、次に進もう</a></p>
        <img src="images/tkg01.jpg" width=”250″ height=”166″ alt=”リス” />
    </body>
</html>
